<div class="form-container">
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="id">Id</label>
                <input type="number" class="form-control" id="id" required [(ngModel)]="course.id" name="id" />
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" required [(ngModel)]="course.title" name="title" />
            </div>
            <button (click)="upCourse()">Update</button>
        </div>
        <div *ngIf="submitted">
            <h4>Updated succesfully</h4>
        </div>

    </div>

</div>